<!DOCTYPE html>
<html>
<head>
	<title>Chirp | Login</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="javascripts/chirpApp.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="chirpApp">
  <div id="main" class="container" ng-controller="authController">
  	<form class="form-auth" ng-submit="login()">
  	  <h2>Login</h2>
  	  <p class="text-warning">{{error_message}}</p>
  	  <input type="username" ng-model="user.username" placeholder="Username" class="form-control" /><br />
  	  <input type="password" ng-model="user.password" placeholder="Password" class="form-control" /><br />
  	  <input type="submit" value="Login" class="btn btn-primary" />
  	</form>
  </div>
</body>
</html>